.tabs-panel{ display: none !important; padding: 1rem; }
.tabs-panel.is-active{ display: block !important; }
.row .row { margin-right: 0; margin-left: 0; }
section.fig { margin-bottom: 24px; }
.has-tip { position: inherit; display: inherit; border-bottom: none; font-weight: normal; cursor: inherit; }
.tooltip { position: absolute; top: calc(100% + .6495rem); z-index: 1200; max-width: 30rem; padding: .75rem; border-radius: 0; background-color: #0e132d; font-size: 80%; color: #fff; word-wrap: break-word; } 
a.external-link { word-break: break-word; }
a.png::after, a[href$=".png"]::after {content: ""; }
a.tif::after, a[href$=".tif"]::after {content: ""; }
a.tiff::after, a[href$=".tiff"]::after {content: ""; }
.disp-formula { margin-bottom: 1rem; }
.img1.float-right {width: 200px; }
.img-small {max-width:250px; }
.author-accordion { list-style-type: none!important; background:none!important; padding: 0!important; color: #232b5f!important; border: 0!important; }
.author-accordion:hover, .author-accordion:focus { background-color: none; }
.author-accordion-title {border: 0 !important; font-weight: bold; text-decoration: none !important;}
.author-accordion-title::before {content: '\f0da'; font: normal 0.875rem "FontAwesome"; display: inline-block; width: 1.125rem; line-height: 0.6; overflow: hidden; }
.accordion-item.is-active .author-accordion-title::before { content: '\f0d7';}
.author-accordion-content {display: none; padding: 0.8rem 0; border: 0; background-color: none; color: #000; }
.accordion ul { list-style-type: none; }
.figures-accordion-content {padding: 0!important;}
.figurehide {display: none;}