          { 
          margin:0;
          padding:0;
          }
          html,body{
          min-height:100%;
          overflow-x: hidden;
          border: 0;
          }
          table {
          border: solid 1px #dddddd;
          width: 1200px;
          }
          table thead th, table thead td {
          background-color: #232b5f;
          color: #ffffff;
          font-weight: bold;
          }
          
          
          
          table thead th, thead td, tfoot th, tfoot td {
          padding: .625rem 1.25rem .625rem 1.25rem;
          font-weight: bold;
          text-align: left;
          border: solid 1px #dddddd;
          }
          
          table tbody th, tbody td {
          padding: .625rem 1.25rem .625rem 1.25rem;
          border: solid 1px #dddddd;
          }
          
          table tbody tr:nth-child(even) {
          background-color:#d9d9d9;
          }
          
          table tbody tr:nth-child(odd){
          background-color:#ffffff;
          }